footer {
  height: 224px;
  padding: 32px 16px;
  margin-top: auto;
  background-color: black;
  img {
    width: 108px;
    height: 24px;
  }
  p,
  a {
    font-size: 8px;
    color: white;
  }
  .footer__item1 {
    position: relative;
  }
}

.footer__copy {
  padding-top: 24px;
}
.test {
  display: flex;
}

.footer__item2 {
  position: absolute;
  display: flex;
  justify-content: center;
  left: 700px;
  gap: 80px;
  letter-spacing: -0.8px;
  line-height: 70%;
}
.test2 {
  position: absolute;
  padding-top: 20px;
}
