.header_1 {
  margin-left: 15px;
  margin-top: 15px;
  position: fixed;
}

.preview {
  width: 100%;
}

.header_wrap {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  align-items: center;
  border: 1px solid lightgrey;
  background: white;
  border-radius: 5px;
  margin: 10px;
  width: 1880px;
  height: 48px;
}

.header_navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gohome {
  padding-left: 18px;
  font-size: 26px;
  font-weight: 900;
  letter-spacing: -2px;
  line-height: 100%;
}

.navbar {
  a:hover {
    text-decoration: underline;
  }
  > ul {
    padding-left: 20px;
    display: flex;
    gap: 22px;
    font-size: 12px;
    font-weight: 600;
    color: #333;
  }
}

.ico_bar {
  width: auto;
  height: 21px;
  margin-left: auto;
  padding-right: 20px;
  margin-top: -5px;
  display: flex;
  align-items: center;

  > a {
    display: block;
    width: 20px;
    height: 21px;
    margin-left: 22px;
    position: relative;

    > img {
      width: 20px;
      height: 20px;
    }

    .wish_num {
      font-size: 10px;
      position: absolute;
      left: 10px;
      top: 15px;
      transform: translate(-50%, -50%);
      color: #fff;
    }
  }
}

.pop-up_1 {
  margin-top: 5px;
  width: 1658.67px;
  height: 260px;
  border: 1px solid lightgrey;
  background-color: #fff;
  border-radius: 5px;
}

.navbar_footwear:hover + .pop-up_1 {
  display: block;
}

.pop-up_depth {
  display: flex;
  font-size: 12px;
  font-weight: 600;
  color: #333;
}

.pop-up_menu {
  > p {
    display: flex;
    align-items: center;
    margin-left: 18px;
    margin-top: 18px;
  }
}

.pop-up_li {
  margin-left: 150px;
  margin-top: 18px;
  a:hover {
    text-decoration: underline;
  }
}

.pop-up_pic {
  display: flex;
  gap: 10px;
  position: absolute;
  right: 13px;
  top: 55px;
  > a {
    padding-top: 10px;
    img {
      width: 220px;
      height: 220px;
      border-radius: 5px;
    }
    .header_thumb_txt {
      margin-top: 5px;
    }
  }
}

.header_thumb_txt {
  font-size: 12px;
  font-weight: 600;
  color: #333;
}

.wrap {
  margin: 0 auto;
  display: flex;
  width: 1920px;
}
.pictures {
  margin-left: 127px;
  display: grid;
  grid-template-columns: 200px 1fr;
  width: 900px;
  gap: 10px;
  padding: 20px;
  .bigsize {
    grid-column: 2 /3;
    grid-row: 1 / 7;
    background-color: #f4f4f4;
  }
  button {
    &.--active {
      border: 2px solid blue;
    }
    img {
      width: 50%;
    }
    img {
      width: 100%;
      aspect-ratio: 1/1;
      object-fit: cover;
    }
  }
}
.text_area {
  padding: 20px;
  margin-left: 100px;
  width: 430px;
}
.badge {
  border: 1px solid #757575;
  background-color: #fff;
  border-radius: 4px;
  width: 120px;
  height: 30px;
}
.bold {
  font-weight: 700;
  font-size: 20px;
  margin-top: 15px;
}
.membership {
  margin-top: 20px;
  position: relative;
  > img {
    background-image: url(https://static.kasina-store.com/ui-static/img/ico_member.svg);
    background-repeat: no-repeat;
  }
  a {
    position: absolute;
    left: 20px;
  }
  p {
    font-weight: 700;
  }
}
.grid_size {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  margin-top: 10px;
  .grid_size_item {
    background-color: #fff;
    border: 1px solid lightgray;
    border-radius: 4px;
    height: 30px;
    font-size: 1rem;
    text-align: center;
    &:hover {
      border: 1px solid black;
    }
  }
}
.grid_cart {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
  margin-top: 10px;
  align-items: center;
  .grid_cart_item1 {
    font-weight: 700;
    height: 50px;
    line-height: 50px;
    border: 1px solid black;
    border-radius: 4px;
    background-color: #fff;
    text-align: center;
    &:hover {
      border: 1px solid lightgray;
    }
  }
  .grid_cart_item2 {
    font-weight: 700;
    height: 50px;
    line-height: 50px;
    border: 1px solid black;
    border-radius: 4px;
    text-align: center;
    background-color: black;
    color: #fff;
    &:hover {
      border: 1px solid gray;
      background-color: gray;
    }
  }
}
.description {
  margin-top: 20px;
  font-weight: 700;
}
.des2012 {
  margin-top: 20px;
  text-align: justify;
}
.dot li {
  position: relative;
  font-weight: 700;
  margin-top: 20px;
  margin-left: 10px;
  &::before {
    position: absolute;
    left: -10px;
    content: "";
    top: 10px;
    border-radius: 1px;
    width: 4px;
    height: 4px;
    background-color: #555;
    display: block;
  }
}
.plus {
  position: relative;
  width: 100%;
  height: 50px;
  margin-top: 10px;
  line-height: 50px;
  font-weight: 700;
  padding-left: 20px;
  background-color: #f4f4f4;
  a {
    width: 500px;
    height: 50px;
  }

  .plus__button {
    position: absolute;
    right: 20px;
    bottom: 1px;
  }
}
.grid__high {
  display: grid;
  grid-template-columns: repeat(4, 50px);
  gap: 3px;
  img {
    width: 475px;
    height: 475px;
  }
}
.product {
  width: 1920px;
  margin: 0 auto;
  box-sizing: border-box;
  .product_ul1 {
    display: flex;
    margin-left: 130px;
    img {
      width: 400px;
      height: 500px;
      justify-content: center;
      align-items: center;
    }
    li {
      margin-left: 20px;
      background-color: #f4f4f4;
      width: 400px;
      height: 400px;
    }
  }
  p {
    font-weight: 700;
    margin-left: 130px;
    padding: 20px;
  }
}
.product_ul2 {
  width: 1920px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
  li {
    background-color: #f4f4f4;
    margin-left: 20px;
    width: 400px;
    height: 100px;
    box-sizing: border-box;
    text-align: center;
  }
}
footer {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  padding: 32px 16px;
  padding-right: 300px;
  background-color: black;
  li {
    font-size: 12px;
    line-height: 20px;
  }
  img {
    width: 108px;
    height: 24px;
  }
  p,
  a {
    font-size: 12px;
    color: white;
  }
}

.footer__copy {
  padding-top: 24px;
}

.footer__item2 {
  display: flex;
  justify-content: center;
  left: 700px;
  gap: 80px;
  letter-spacing: -0.8px;
  line-height: 70%;
}
