.wrap {
    margin: 0 auto;
    display: flex;
    width: 1920px;
}
.pictures {
    margin-left: 127px;
    display: grid;
    grid-template-columns: repeat(2, 200px);
    width: 50vw;
    gap: 10px;
    padding: 20px;
    .bigsize {
        grid-column: 2 /3;
        grid-row: 1 / 7;
        background-color: #f4f4f4;
        width: 350%;
    }
    button {
        &.--active {
            border: 2px solid blue;
        }
        img{
            width: 50%;
    }
    img {
        width: 100%;
        aspect-ratio: 1/1;
        object-fit: cover;
    }
}}
.text_area {
    margin-top: 50px;
    width: 30%;
}
.badge {
    border: 1px solid #757575;
    background-color: #fff;
    border-radius: 4px;
    width: 120px;
    height: 30px;
}
.bold {
    font-weight: 700;
    font-size: 20px;
    margin-top: 15px;
}
.membership {
    margin-top: 20px;
    position: relative;
    > img {

        background-image: url(https://static.kasina-store.com/ui-static/img/ico_member.svg);
        background-repeat: no-repeat;
    }
    a{
        position: absolute;
        left: 20px;
    }
    p{
        font-weight: 700;
    }
}
.grid_size {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    gap: 5px;
    margin-top: 10px;
    .grid_size_item{
        border: 1px solid lightgray;
        border-radius: 4px;
        width: 100px;
        height: 30px;
        text-align: center;
        &:hover{
            border: 1px solid black;
        }
    }
}
.grid_cart {
    display: grid;
    grid-template-columns: repeat( 2, 205px );
    gap: 5px;
    margin-top: 10px;
    align-items: center;
    .grid_cart_item1{
        height: 50px;
        line-height: 50px;
        border: 1px solid black;
        border-radius: 4px;
        text-align: center;
        &:hover {
            border: 1px solid lightgray;
        }
    }
    .grid_cart_item2{
        height: 50px;
        line-height: 50px;
        border: 1px solid black;
        border-radius: 4px;
        text-align: center;
        background-color: black;
        color: #fff;
        &:hover {
            border: 1px solid gray;
            background-color: gray;
        }
    }
}
.dot li{
    font-weight: 700;
    margin-top: 20px;
    ::before{
            content: "";
                top: 7px;
                border-radius: 1px;
                width: 4px;
                height: 4px;
                background-color: #555;
                position: absolute;
                display: block;
        }
}
.plus {
    position: relative;
    width: 100%;
    height: 50px;
    background-color: #f4f4f4;
    margin-top: 10px;
    a{
        line-height: 50px;
        font-weight: 700;
        padding-left: 20px;

        .plus__button{
            position: absolute;
            right: 20px;
            bottom: 1px;
        }
    }
}
.grid__high {

    display: grid;
    grid-template-columns: repeat(4, 50px);
    gap: 3px;
    img {
      width: 475px;
      height: 475px;
    }
  }
  .product {
    width: 1920px;
    margin: 0 auto;
    box-sizing: border-box;
      .product_ul1 {
        display: flex;
        margin-left: 130px;
        img {
            width: 400px;
            height: 500px;
            justify-content: center;
            align-items: center;
        }
        li {
            margin-left: 20px;
           background-color: #f4f4f4;
           width: 400px;
           height: 400px;
       }
    }
    p{
        font-weight: 700;
        margin-left: 130px;
        padding: 20px;
    }
  }
 .product_ul2 {
    width: 1920px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    li {
        background-color: #f4f4f4;
        margin-left: 20px;
        width: 400px; 
        height: 100px;
        box-sizing: border-box;
        text-align: center;
    }
 }